{% extends 'common/base.html' %}
{% load placeholder_filter %}

{% block content %}
    <div class="login-register-div">
        <div class="login-register-box">
            <h1>MuscleFuel</h1>

            <form method="post" class="login-register-form">
                {% csrf_token %}

                {% for error in form.non_field_errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
                {{ form.username|placeholder:"Email or username" }}
                {{ form.password|placeholder:"Password" }}

                <button type="submit" class="submit-button">Login</button>
            </form>

        </div>
        <div class="second-option">

            <p>Don't have an account? <a href="{% url 'register' %}" id="register-link">Register</a></p>
        </div>
    </div>
{% endblock %}