{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <div class="profile-details-header">
        <div class="profile-information">
            <div class="profile-image">
                {% if user.profile.profile_picture %}
                    <img src="{{ user.profile.profile_picture.url }}" alt="">
                {% else %}
                    <img src="{% static 'images/profile_pic.jpg' %}" alt="">
                {% endif %}
            </div>

            <div class="personal-information">
                <div class="profile-info">
                    <h2>{{ user.profile.get_full_name }}</h2>
                    <p class="profile-bio">{{ user.profile.bio }}</p>
                </div>
                <div class="profile-stats">
                </div>
            </div>

            <div class="profile-controls">
                {% if request.user.pk == user.pk %}
                    <a href="{% url 'user-saved-recipes' request.user.pk %}" id="saved-recipes-btn"><i
                            class="fa-regular fa-bookmark"></i> Saved recipes</a>
                    <a href="{% url 'edit-profile' request.user.pk %}" class="edit-profile-btn">Edit Profile</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="saved-recipe-title">
        <h2>Published recipes ({{ user_public_recipes_count }})</h2>
    </div>
    {% include 'recipes/recipes-list-element.html' %}
{% endblock %}
