{% load static %}

<nav>
    <div class="logo">
        <a href="{% url 'index' %}"><img src="{% static 'images/MuscleFuelLogo1.png' %}" alt="Logo"></a>
    </div>
    <div class="nav-links">
        <ul>
            <li><a href="#">Recipes</a></li>
            <li><a href="#">BMI Calculator</a></li>
            <li><a href="#">Calories Calculator</a></li>
            <li><a href="#">Something</a></li>
        </ul>
    </div>
    <div class="actions">
        {% if not request.user.is_authenticated %}
            <a href="{% url 'login' %}" id="sign-in">Sign In</a>
            <a href="{% url 'register' %}" id="register">Register</a>
        {% else %}
            <a href="#" id="profile">Profile</a>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button id="logoutBtn" type="submit" title="Logout"><i class="fa-solid fa-right-from-bracket"></i></button>
            </form>
        {% endif %}
    </div>
</nav>