header {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 82%;
    margin: 0 auto;
    padding: 10px 0;
}

.logo img {
    width: 96px;
}

.nav-links {
    display: flex;
    gap: 4vw;
}

.nav-links ul {
    display: flex;
    list-style: none;
    gap: 2em;
}

.nav-links li a {
    text-decoration: none;
    font-size: 16px;
    color: #000;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #6b7280;
}

.actions {
    display: flex;
    align-items: center;
    gap: 24px;
}

#register {
    background-color: #34d399;
    color: #fff;
    padding: 8px 20px;
    border-radius: 9999px;
    text-decoration: none;
    transition: background-color 0.3s;
}

#register:hover {
    background-color: #065f46;
}

#sign-in {
    background-color: #fff;
    color: #000000;
    padding: 8px 20px;
    border: black 1px solid;
    border-radius: 9999px;
    text-decoration: none;
    transition: background-color 0.3s;
}

#sign-in:hover {
    background-color: #000000;
    color: #fff;
}

#logoutBtn {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: #000000;
    font: inherit;
    cursor: pointer;
    font-size: 22px;
}

#profile {
    text-decoration: none;
    color: #000000;
    font: inherit;
    cursor: pointer;
    font-size: 18px;
}