@import './navbar.css';
@import './recipe-list.css';
@import './recipe-details.css';
@import './forms.css';
@import './profile-details.css';

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}

/* Main wrapper to grow and push the footer */
.wrapper {
    flex: 1; /* Makes the wrapper grow to fill available space */
}

/* Footer styling */
.footer {
    background-color: #333; /* Example background color */
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    margin-top: auto; /* Pushes footer to bottom */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    padding-top: 100px;
}

.recipesTypes {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f4f6;
    padding-top: 28px;
    padding-bottom: 75px;
}

.recipe-header-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1440px;
}

.recipe-header-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: opacity 0.3s;
}

.recipe-header-card img {
    width: 300px;
    height: 350px;
    object-fit: cover;
}

.recipe-header-card p {
    background-color: #facc15;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    margin: 0 auto;
    margin-top: -32px;
}

.recipe-header-grid a {
    text-decoration: none;
}

.recipe-header-card:hover {
    opacity: 0.6;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    position: relative;
    margin-top: 16px;
    right: 1.8%;
}

.search-bar form {
    display: flex;
    align-items: center;
    position: relative;
}

.search-bar i {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #9ca3af;
}

.search-bar input {
    padding: 12px 48px 12px 48px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
}

.search-bar input:focus {
    outline: none;
    border-color: #3b82f6;
}

#or {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 1.5rem;
    color: #9ca3af;
}

.view-all {
    background-color: #b91c1c;
    color: #fff;
    padding: 12px 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.5s;
}

.view-all:hover {
    background-color: #000;
}
.login-register-div {
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-register-box, .second-option {
    display: block;
    width: 350px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(156, 152, 152);
    padding: 40px;
    margin-bottom: 15px;
    border-radius: 3px;
    border: 1px solid;
    box-shadow: 1px 2px 3px #888888;
}

.login-register-box h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
    text-align: center;
    margin-top: -10px;
}

.login-register-box label {
    display: none;
}

.macro {
    font-size: 12px;
    font-family: inherit;
}

.slider-box {
    display: flex;
    justify-content: center;
}


.slider-left {
    width: 40%;
    height: 523px;
    position: relative;
}

#image-slider {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#image-slider .slide {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    transition: left 0.8s ease-in-out, opacity 0.8s ease-in-out;
    opacity: 0;
    z-index: 0;
}
#image-slider .slide.active {
    left: 0;
    opacity: 1;
    z-index: 1;
}
#image-slider .slide.previous {
    left: -100%; /* Move off-screen to the left */
    opacity: 0; /* Fade out */
    z-index: 0; /* Behind the active slide */
}

#image-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}


.custom-arrows {
    display: table;
    position: absolute;
    top: 50%;
    margin-top: -32px;
    left: -39px;
    z-index: 2;
}

.custom-arrows span {
    display: table-cell;
    height: 65px;
    width: 39px;
    line-height: 65px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    transition: 0.2s all ease-in-out;
    background: #3d3432;
}

.custom-arrows span:hover {
    background: #28211f;
}

.custom-arrows span i {
    color: #736e6b;
}

.slider-right {
    height: 523px;
    overflow: hidden;
    position: relative;
    width: 50%;
    background: #ddecf3;
}

.slider-right .slide-detail {
    height: 523px;
}

.wrapper-home-slider {
    margin-bottom: 30px;
    margin-top: 30px;
}

.wrapper-home-slider .container {
    max-width: 860px;
    margin: 0 auto;
}

.slide-detail-content {
    padding: 45px 30px 62px 30px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.slide-detail-content.active {
    opacity: 1;
    position: relative; /* Ensures active content shows */
}

.wrapper-home-slider h2 {
    margin-top: 0;
    font-family: 'Lora', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    margin-bottom: 30px;
}

.wrapper-home-slider h2 a {
    transition: 0.2s all ease-in-out;
}

.wrapper-home-slider h2 a:hover {
    color: #5eaa2e;
}

.home-slider {
    position: relative;
}

.corner-image {
    position: absolute;
    z-index: -1;
    user-select: none;
}

.corner-image.slider {
    right: -407px;
    bottom: -180px;
}

.corner-image.hot {
    left: -207px;
    bottom: -80px;
}

.food-category {
    padding: 10px 19px;
    background: #b6754b;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 30px;
}

.food-category:hover {
    background: #000000;
    color: #ffffff;
}

.post-meta {
    margin-bottom: 58px;
}

.post-meta li {
    padding-left: 20px;
    margin-right: 10px;
    position: relative;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #5e676b;
    line-height: 24px;
}

.post-meta li a:hover {
    color: #5eaa2e;
}

.post-meta li:before {
    font-family: FontAwesome;
    display: inline-block;
    position: absolute;
    left: 0;
}

.post-meta .author-o:before {
    content: "\f007";
}

.post-meta .author:before {
    content: "\f007";
}

.post-meta .type:before {
    content: "\f080";
}

.post-meta .time:before {
    content: "\f017";
}

.post-meta .date:before {
    content: "\f073";
}

.post-meta .calendar:before {
    content: "\f133";
}

.post-meta .comments:before {
    content: "\f0e5";
}

.post-meta.slider-rating {
    position: relative;
    margin-bottom: 44px;
}

.post-meta.slider-rating:after {
    content: "";
    width: 50px;
    height: 3px;
    background: #6ebe3b;
    position: absolute;
    left: 0;
    bottom: -15px;
}

.fbox {
    display: flex;
    flex-direction: column;
}

.box1 {
    padding: 45px 30px 62px 30px;
}

.box2 {
    position: absolute;
    width: 100%;
    height: 62px;
    bottom: 0;
}

.wrapper-home-slider.variation-one .slider-left {
    position: relative;
}

.wrapper-home-slider.variation-one .slider-left .featured {
    height: 38px;
    line-height: 38px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #ffffff;
    display: inline-block;
    position: absolute;
    top: 50px;
    background: #b6754b;
    padding: 0 20px;
}

.wrapper-home-slider.variation-one .rating-box {
    padding-left: 0;
    padding-right: 0;
}

.wrapper-home-slider.variation-one .box1 {
    padding-bottom: 170px;
}

.slider-right .slide-detail {
    position: relative;
}

.slide-detail .icon-container {
    vertical-align: middle;
}

.slide-detail .icon-svg {
    fill: #6ebe3b;
}

.calorie-calculator-results {
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: flex-start;
    border: 1px solid #ddd;
    border-radius: 6px;
    max-width: 600px;
    margin: 30px auto;
    padding: 25px 35px;
}

#image-slider {
    width: 100%;
    height: 100%;
}







