{% extends 'common/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
    <section class="recipe-details-header">
        <div class="details-container">
            <div class="recipe-details-image">
                <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
            </div>
            <div class="recipe-details-info">
                <h1 id="recipe-details-title">{{ recipe.title }}</h1>
                <p>Author: <a href="{% url 'profile-details' recipe.user.pk %}"
                              id="recipe-details-author-link">{{ recipe.user.username }}</a></p>
                <div class="average_rating">
                    {% if average_rating != 0 %}
                        <p><i class="fa fa-star star selected"></i>{{ average_rating }} average rating</p>
                    {% else %}
                        <p>There are no reviews</p>
                    {% endif %}
                </div>
                <div class="recipe-details-meta-info">
                    <span class="cook-time"><i class="fa-solid fa-clock"></i> {{ recipe.cook_time|default:"N/A" }} mins</span>
                    <span class="difficulty"><i class="fa-solid fa-gauge"></i> {{ recipe.difficulty|title }}</span>
                    <span class="servings"><i
                            class="fa-solid fa-utensils"></i> {{ recipe.servings|title }} servings</span>
                </div>
                <div class="macro-stats-card">
                    <div class="macro">
                        <span class="icon">🥩</span>
                        <span class="label">Protein:</span>
                        <span class="value">{{ recipe.protein }}g</span>
                        <div class="progress-bar" style="--percent: {{ protein_percentage }}%;"></div>
                    </div>
                    <div class="macro">
                        <span class="icon">🍞</span>
                        <span class="label">Carbs:</span>
                        <span class="value">{{ recipe.carbohydrates }}g</span>
                        <div class="progress-bar" style="--percent: {{ carbohydrates_percentage }}%;"></div>
                    </div>
                    <div class="macro">
                        <span class="icon">🥑</span>
                        <span class="label">Fat:</span>
                        <span class="value">{{ recipe.fat }}g</span>
                        <div class="progress-bar" style="--percent: {{ fat_percentage }}%;"></div>
                    </div>
                    <div class="macro">
                        <span class="icon">🔥</span>
                        <span class="label">Calories:</span>
                        <span class="value">{{ recipe.calories }} kcal</span>
                        <div class="progress-bar" style="--percent: {{ calories_percentage }}%;"></div>
                    </div>
                    <p id="macro-stats-note">*Macros for one serving</p>
                </div>


                <p>{{ recipe.description }}</p>
                <div class="recipe-buttons">
                    <form method="post" action="{% url 'toggle-favourite' recipe.pk %}" class="favorite-form">
                        {% csrf_token %}
                        {% if recipe.is_saved %}
                            <button type="submit" id="save-recipe-btn"><i class="fa-solid fa-bookmark"></i> Remove from
                                saved
                            </button>
                        {% else %}
                            <button type="submit" id="save-recipe-btn"><i class="fa-regular fa-bookmark"></i> Save
                                recipe
                            </button>
                        {% endif %}
                    </form>
                    {% if request.user == recipe.user or user_is_moderator or request.user.is_superuser %}
                        <a href="{% url 'recipe-edit' recipe.pk %}" id="recipe-edit-btn">Edit recipe</a>
                        <form method="post" action="{% url 'recipe-delete' recipe.pk %}"
                              id="modal-form-recipe-{{ recipe.pk }}">
                            {% csrf_token %}
                            <button type="button" id="delete-recipe-btn"
                                    onclick="showDeleteModal('recipe-{{ recipe.pk }}', 'deleteRecipeModal')">
                                Delete recipe
                            </button>
                        </form>
                        <div id="deleteRecipeModal" class="modal">
                            <div class="modal-content">
                                <p id="modal-text">Are you sure you want to delete this recipe?</p>
                                <div class="modal-buttons">
                                    <button onclick="confirmDelete('deleteRecipeModal')" class="confirm-btn">Yes,
                                        Delete
                                    </button>
                                    <button onclick="closeDeleteModal('deleteRecipeModal')" class="cancel-btn">Cancel
                                    </button>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <section class="recipe-details-ingredients-method">
        <div class="recipe-ingredients">
            <h2>Ingredients</h2>
            <ul id="ingredients-list">
                {% for ingredient in ingredients_list %}
                    <li>{{ ingredient }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="recipe-method">
            <h2>Cooking Instructions</h2>
            <p>{{ recipe.instructions }}</p>
        </div>
    </section>

    <div class="rating-container">
        {% if user_review %}
            <h3>Your review</h3>
            <div class="star-rating">
                {% for i in stars_range %}
                    <i class="fa fa-star star {% if i <= user_review.rating %}selected{% endif %}" data-value="{{ i }}"
                       id="star-{{ i }}"></i>
                {% endfor %}
            </div>

        {% else %}
            <h3>Leave a review</h3>

            <div class="star-rating">
                {% for i in stars_range %}
                    <i class="fa fa-star star" data-value="{{ i }}" id="star-{{ i }}"></i>
                {% endfor %}
            </div>

            <form id="review-form" method="post" action="{% url 'submit-review' recipe.pk %}">
                {% csrf_token %}
                <input type="hidden" id="star-rating" name="rating" value="0">
                <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
                <button type="submit" class="submit-review-button">Submit Review</button>
            </form>
        {% endif %}

        <div class="recipe-comments" id="comments">
            <h3 class="lined">Comments ({{ comments|length }})</h3>
            <ul>
                {% for comment in comments %}
                    <li>
                        <div class="avatar">
                            <a href="{% url 'profile-details' comment.user.pk %}"><img
                                    src="

                                            {% if comment.user.profile.profile_picture.url %}{{ comment.user.profile.profile_picture.url }}{% else %}{% static 'images/profile_pic.jpg' %}{% endif %}"
                                    alt="avatar"/></a>
                        </div>
                        <div class="comment">
                            <div class="comment-content">
                                <h5>
                                    <a href="{% url 'profile-details' comment.user.pk %}">{{ comment.user.profile.get_full_name }}</a>
                                </h5>
                                <span class="time">{{ comment.date_time_of_publication|timesince }} ago</span>
                                <p>{{ comment.text }}</p>
                            </div>
                            {% if request.user == comment.user or user_is_moderator or request.user.is_superuser %}
                                <div class="comment-actions">
                                    <form method="post" action="{% url 'comment-delete' pk=recipe.pk comment_pk=comment.pk %}"
                                          id="modal-form-comment-delete-{{ comment.pk }}">
                                        {% csrf_token %}
                                        <button type="button" id="delete-comment-btn"
                                                onclick="showDeleteModal('comment-delete-{{ comment.pk }}', 'deleteCommentModal')">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </form>
                                </div>
                            {% endif %}
                            <div id="deleteCommentModal" class="modal">
                                <div class="modal-content">
                                    <p id="modal-text">Are you sure you want to delete this comment?</p>
                                    <div class="modal-buttons">
                                        <button onclick="confirmDelete('deleteCommentModal')" class="confirm-btn">Yes,
                                            Delete
                                        </button>
                                        <button onclick="closeDeleteModal('deleteCommentModal')" class="cancel-btn">
                                            Cancel
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="comment-form">
            <h3 class="lined">Leave Comment</h3>

            <form id="commentForm" action="{% url 'submit-comment' recipe.pk %}" method="post">
                {% csrf_token %}
                <textarea name="text" id="comment" cols="30" rows="10" placeholder="Add comment..."
                          maxlength="300"></textarea>
                <p id="error-message" style="color: red; font-size: 14px; display: none;"></p>
                <button type="submit" class="submit-comment">Submit</button>
            </form>
        </div>
    </div>

    <script>
        const stars = document.querySelectorAll('.star');
        const starRatingInput = document.getElementById('star-rating');

        stars.forEach((star, index) => {
            star.addEventListener('mouseover', () => {
                // Highlight the stars up to the hovered one
                stars.forEach((s, i) => {
                    if (i <= index) {
                        s.classList.add('hovered');
                    } else {
                        s.classList.remove('hovered');
                    }
                });
            });

            star.addEventListener('mouseout', () => {
                // Remove hover effect
                stars.forEach((s) => s.classList.remove('hovered'));
            });

            star.addEventListener('click', () => {
                // Set the selected rating
                const rating = index + 1;
                starRatingInput.value = rating - 1;

                // Highlight the stars up to the selected one
                stars.forEach((s, i) => {
                    if (i < rating) {
                        s.classList.add('selected');
                    } else {
                        s.classList.remove('selected');
                    }
                });
            });
        });

        document.getElementById('commentForm').addEventListener('submit', function (e) {
            const commentField = document.getElementById('comment');
            const errorMessage = document.getElementById('error-message');
            const commentText = commentField.value.trim();


            if (commentText.length === 0) {
                e.preventDefault();
                errorMessage.textContent = 'Comment cannot be empty.';
                errorMessage.style.display = 'block';
                commentField.focus();
            } else if (commentText.length > 300) {
                e.preventDefault();
                errorMessage.textContent = 'Comment is too long. Maximum length is 300 characters.';
                errorMessage.style.display = 'block';
                commentField.focus();
            } else {
                errorMessage.style.display = 'none';
            }
        });

        let formToSubmit = null;

        function showDeleteModal(modalFormId, modalId) {
            formToSubmit = document.getElementById(`modal-form-${modalFormId}`);
            document.getElementById(modalId).style.display = 'flex';
        }

        function closeDeleteModal(modalId) {
            document.getElementById(modalId).style.display = 'none';
        }

        function confirmDelete(modalId) {
            if (formToSubmit) {
                formToSubmit.submit();
            }
            closeDeleteModal(modalId);
        }
    </script>


{% endblock %}