<div class="recipe-list-container">
    <form method="get" class="filter-form">
        <div class="sidebar">
            <h3>Filter Recipes</h3>

            <!-- This input is used to save the sorting params in the url -->
            <input type="hidden" name="sort" value="{{ request.GET.sort|default:'' }}">


            <p class="filter-paragraph">
                <label for="{{ filter.form.q.id_for_label }}">Title: </label>
                {{ filter.form.q }}
            </p>
            <div class="form-group">
                <label for="id_category">Categories</label>
                <div class="checkbox-group">
                    {% for choice in filter.form.categories.field.queryset %}
                        <div class="form-check">
                            <input type="checkbox" name="categories" value="{{ choice.id }}"
                                   id="category_{{ choice.id }}"
                                   {% if choice.id|stringformat:"s" in filter.form.categories.value %}checked{% endif %}
                                   class="form-check-input">
                            <label for="category_{{ choice.id }}"
                                   class="form-check-label">{{ choice.category }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <p class="filter-paragraph">
                <label for="{{ filter.form.difficulty.id_for_label }}">Difficulty: </label>
                {{ filter.form.difficulty }}
            </p>
            <p class="filter-paragraph cook-time">
                <label for="id_cook_time_0">Cook Time: </label>
                <input type="number" name="cook_time_min" id="id_cook_time_0"
                       value="{{ filter.form.cook_time.value.0 }}" class="cook-time-input" placeholder="min">
                <span>-</span>
                <input type="number" name="cook_time_max" id="id_cook_time_1"
                       value="{{ filter.form.cook_time.value.1 }}" class="cook-time-input" placeholder="max">
            </p>
            <div class="filter-controls">
                <button type="submit" class="filter-button">Apply Filters</button>
                {% if saved_recipes_filter %}
                    <a href="{% url 'user-saved-recipes' request.user.pk %}" class="clear-filters-button">Clear
                        Filters</a>
                {% else %}
                    <a href="{% url 'recipe-list' %}" class="clear-filters-button">Clear Filters</a>
                {% endif %}
            </div>
        </div>
    </form>

    <div class="recipe-grid-container">
        <div class="sorting-dropdown">
            <form method="get" id="sort-form">
                <label for="sort">Sort by:</label>
                <select name="sort" id="sort" onchange="this.form.submit();">
                    <option value="" {% if not request.GET.sort %}selected{% endif %}>Newest</option>
                    <option value="oldest" {% if request.GET.sort == 'oldest' %}selected{% endif %}>Oldest
                    </option>
                    <option value="protein_desc" {% if request.GET.sort == 'protein_desc' %}selected{% endif %}>Most
                        Protein
                    </option>
                    <option value="protein_asc" {% if request.GET.sort == 'protein_asc' %}selected{% endif %}>Least
                        Protein
                    </option>
                    <option value="calories_desc" {% if request.GET.sort == 'calories_desc' %}selected{% endif %}>Most
                        Calories
                    </option>
                    <option value="calories_asc" {% if request.GET.sort == 'calories_asc' %}selected{% endif %}>Least
                        Calories
                    </option>
                    <option value="rating_desc" {% if request.GET.sort == 'rating_desc' %}selected{% endif %}>Top Rated
                    </option>
                </select>

                <!-- Preserve other GET parameters -->
                {% for key, value in request.GET.items %}
                    {% if key != 'sort' %}
                        <input type="hidden" name="{{ key }}" value="{{ value }}">
                    {% endif %}
                {% endfor %}
            </form>
        </div>
        <div class="recipe-grid">
            {% for recipe in recipes %}
                <div class="recipe-card">
                    <div class="recipe-content">
                        <div class="image-container">
                            <a href="{% url 'recipe-details' recipe.pk %}"><img src="{{ recipe.image.url }}"
                                                                                alt="{{ recipe.title }}"></a>
                        </div>
                        <div class="text-container">
                            <a href="{% url 'recipe-details' recipe.pk %}"><h3
                                    class="recipe-title">{{ recipe.title }}</h3></a>
                            <p class="recipe-description">{{ recipe.description|truncatewords:10 }}</p>
                            <p class="macro">Protein: {{ recipe.protein }} g. | Calories: {{ recipe.calories }} / per
                                serving</p>
                        </div>
                    </div>
                    <div class="meta-info">
                        <span class="cook-time"><i class="fa-solid fa-clock"></i> {{ recipe.cook_time|default:"N/A" }} mins</span>
                        <span class="difficulty"><i class="fa-solid fa-gauge"></i> {{ recipe.difficulty|title }}</span>
                        <span class="servings"><i
                                class="fa-solid fa-utensils"></i> {{ recipe.servings|title }} servings</span>
                    </div>
                </div>
            {% empty %}
                <p>No recipes found.</p>
            {% endfor %}
        </div>
        {% if is_paginated %}
            <div class="pagination">
                <!-- Previous Button -->
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}" class="btn prev">Previous</a>
                {% else %}
                    <span class="btn disabled">Previous</span>
                {% endif %}

                <!-- Page Numbers -->
                <span class="page-info">
                        Page {{ page_obj.number }} of {{ paginator.num_pages }}
                    </span>

                <!-- Next Button -->
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="btn next">Next</a>
                {% else %}
                    <span class="btn disabled">Next</span>
                {% endif %}
            </div>
        {% endif %}
    </div>

</div>