{% extends 'common/base.html' %}

{% block content %}
    <div class="recipe-list-container">
        <form method="get" class="filter-form">
            <div class="sidebar">
                <h3>Filter Recipes</h3>
                {#                {{ filter.form.as_p }}#}
                <p class="filter-paragraph">
                    <label for="{{ filter.form.q.id_for_label }}">Title: </label>
                    {{ filter.form.q }}
                </p>
                <div class="form-group">
                    <label for="id_category">Categories</label>
                    <div class="checkbox-group">
                        {% for choice in filter.form.categories.field.queryset %}
                            <div class="form-check">
                                <input type="checkbox" name="categories" value="{{ choice.id }}"
                                       id="category_{{ choice.id }}"
                                       {% if choice in filter.form.categories.value %}checked{% endif %}
                                       class="form-check-input">
                                <label for="category_{{ choice.id }}"
                                       class="form-check-label">{{ choice.category }}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
{#                <p class="filter-paragraph">#}
{#                    <label for="{{ filter.form.categories.id_for_label }}">Category: </label>#}
{#                    {{ filter.form.categories }}#}
{#                </p>#}
                <p class="filter-paragraph">
                    <label for="{{ filter.form.difficulty.id_for_label }}">Difficulty: </label>
                    {{ filter.form.difficulty }}
                </p>
                <p class="filter-paragraph cook-time">
                    <label for="id_cook_time_0">Cook Time: </label>
                    <input type="number" name="cook_time_min" id="id_cook_time_0"
                           value="{{ filter.form.cook_time.value.0 }}" class="cook-time-input" placeholder="min">
                    <span>-</span>
                    <input type="number" name="cook_time_max" id="id_cook_time_1"
                           value="{{ filter.form.cook_time.value.1 }}" class="cook-time-input" placeholder="max">
                </p>
                <div class="filter-controls">
                    <button type="submit" class="filter-button">Apply Filters</button>
                    <a href="{% url 'recipe-list' %}" class="clear-filters-button">Clear Filters</a>
                </div>
            </div>
        </form>

        <div class="recipe-grid">
            {% for recipe in recipes %}
                <div class="recipe-card">
                    <div class="recipe-content">
                        <div class="image-container">
                            <a href="{% url 'recipe-details' recipe.pk %}"><img src="{{ recipe.image.url }}"
                                                                                alt="{{ recipe.title }}"></a>
                        </div>
                        <div class="text-container">
                            <a href="{% url 'recipe-details' recipe.pk %}"><h3
                                    class="recipe-title">{{ recipe.title }}</h3></a>
                            <p class="recipe-description">{{ recipe.description|truncatewords:10 }}</p>
                            <p class="macro">Protein: {{ recipe.protein }} g. | Calories: {{ recipe.calories }} / per
                                serving</p>
                        </div>
                    </div>
                    <div class="meta-info">
                        <span class="cook-time"><i class="fa-solid fa-clock"></i> {{ recipe.cook_time|default:"N/A" }} mins</span>
                        <span class="difficulty"><i class="fa-solid fa-gauge"></i> {{ recipe.difficulty|title }}</span>
                        <span class="servings"><i class="fa-solid fa-utensils"></i> {{ recipe.servings|title }} servings</span>
                    </div>
                </div>
            {% empty %}
                <p>No recipes found.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}