{% extends 'common/base.html' %}

{% block content %}
    <div class="recipe-list-container">
        <form method="get" class="filter-form">
            <div class="sidebar">
                <h3>Filter Recipes</h3>
                {{ filter.form.as_p }}
                <button type="submit" class="filter-button">Apply Filters</button>
            </div>
        </form>

        <div class="recipe-grid">
            {% for recipe in recipes %}
                <div class="recipe-card">
                    <div class="recipe-content">
                        <div class="image-container">
                            <a href="{% url 'recipe-details' recipe.pk %}"><img src="{{ recipe.image.url }}" alt="{{ recipe.title }}"></a>
                        </div>
                        <div class="text-container">
                            <a href="{% url 'recipe-details' recipe.pk %}"><h3 class="recipe-title">{{ recipe.title }}</h3></a>
                            <p class="recipe-description">{{ recipe.description|truncatewords:10 }}</p>
                            <p class="macro">Protein: {{ recipe.protein }} g. | Calories: {{ recipe.calories }} / per serving</p>
                        </div>
                    </div>
                    <div class="meta-info">
                        <span class="cook-time"><i class="fa-solid fa-clock"></i> {{ recipe.cook_time|default:"N/A" }} mins</span>
                        <span class="difficulty"><i class="fa-solid fa-gauge"></i> {{ recipe.difficulty|title }}</span>
                        <span class="servings"><i class="fa-solid fa-utensils"></i> {{ recipe.servings|title }} servings</span>
                    </div>
                </div>
            {% empty %}
                <p>No recipes found.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}